.bg-salary__container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 40px);
  grid-template-areas:
    "company value currency real"
    "Investor-company Investor-value Investor-currency Investor--real"
    "Mate-company Mate-value Mate-currency Mate-real"
    "total total total total-value";
  width: fit-content;
  font-size: 14px;

  .bg-salary__header {
    $headers: company, value, currency, real;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    border: 1px solid grey;

    @each $header in $headers {
      &-#{$header} {
        grid-area: $header;
      }
    }
  }

  .bg-salary__cell {
    text-align: center;
    line-height: 40px;
  }

  .bg-salary-total {
    grid-area: total;
    background-color: grey;
    color: white;
  }

  .bg-salary-total-value {
    grid-area: total-value;
    border: 1px solid grey;
  }
}
