.bg-salary__container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 40px);
  grid-template-areas:
    "company value currency rating real"
    "IM-company IM-value IM-currency IM-rating IM--real"
    "MA-company MA-value MA-currency MA-rating MA-real"
    "RL-company RL-value RL-currency RL-rating RL-real"
    "total total total total-value total-value";
  width: fit-content;
  font-size: 14px;

  .bg-salary__header {
    $headers: company, value, currency, rating, real;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    min-width: 120px;

    @each $header in $headers {
      &-#{$header} {
        grid-area: $header;
      }
    }
  }

  .bg-salary__cell {
    text-align: center;
    line-height: 40px;
    min-width: 120px;

    input {
      padding-left: 5px;
    }

    .rating-input {
      width: 60px;
    }

    .value-input {
      width: 60px;
    }
  }

  .bg-salary-total {
    grid-area: total;
    font-weight: bold;
    color: gray;
  }

  .bg-salary-total-value {
    grid-area: total-value;
    color: green;
    font-weight: bold;
  }
}
